<div class="w3-row-padding w3-margin">
  <div class="w3-col l12 m12 s12">
    <p-fieldset [toggleable]="true" [collapsed]="true">
      <p-header>Add Fiat - Crypto Transaction</p-header>
      <div class="w3-container w3-margin">
        <app-transaction-submission-form></app-transaction-submission-form>
      </div>
    </p-fieldset>
  </div>
</div>

<div class="w3-row-padding w3-margin">
  <div class="w3-col l12 m12 s12">
    <p-fieldset [toggleable]="true" [collapsed]="false">
      <p-header>Historic Fiat - Crypto Transactions</p-header>
      <div class="w3-container w3-margin">
        <app-historic-transactions></app-historic-transactions>
      </div>
    </p-fieldset>
  </div>
</div>