<div class="w3-row-padding w3-margin">
  <div class="w3-col l12 m12 s12">
    <div class="w3-card-4">

      <header class="w3-container w3-light-green">
        <h2>Add Transaction</h2>
      </header>

      <div class="w3-container">
        <app-transaction-submission-form [transactions]="transactions"></app-transaction-submission-form>
      </div>

      <footer class="w3-container w3-light-green">
        <h5>Footer</h5>
      </footer>

    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin">
  <div class="w3-col l12 m12 s12">
    <div class="w3-card-4">

      <header class="w3-container w3-light-green">
        <h2>Historic Transactions</h2>
      </header>

      <div class="w3-container">
        <p-table [value]="transactionRows">
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of transactionColumns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transactionRow>
            <tr>
              <td *ngFor="let col of columns">
                {{transactionRow[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <footer class="w3-container w3-light-green">
        <h5>Footer</h5>
      </footer>

    </div>
  </div>
</div>