<div class="w3-row-padding w3-margin">
  <div class="w3-col l12 m12 s12">
    <div class="w3-card-4">

      <header class="w3-container w3-light-green">
        <h2>Add Transaction</h2>
      </header>

      <div class="w3-container">
        <app-transaction-submission-form></app-transaction-submission-form>
      </div>

      <footer class="w3-container w3-light-green">
        <h5>Footer</h5>
      </footer>

    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin">
  <div class="w3-col l12 m12 s12">
    <div class="w3-card-4">

      <header class="w3-container w3-light-green">
        <h2>Historic Transactions</h2>
      </header>

      <div class="w3-container">
        <app-historic-transactions></app-historic-transactions>
      </div>

      <footer class="w3-container w3-light-green">
        <h5>Footer</h5>
      </footer>

    </div>
  </div>
</div>