<p-table [value]="rows">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <ng-container *ngFor="let col of columns" [ngSwitch]="col.pipe">
          <td *ngSwitchCase="'string'"> {{row[col.field]}} </td>
          <td *ngSwitchCase="'number'"> {{row[col.field] | number:'1.0-2'}} </td>
          <td *ngSwitchCase="'number4'"> {{row[col.field] | number:'1.0-4'}} </td>
          <td *ngSwitchCase="'date'"> {{row[col.field] | date}} </td>
          <td *ngSwitchCase="'currencyEur'"> {{row[col.field] | currency:'EUR'}} </td>
          <td *ngSwitchCase="'currencyDollar'"> {{row[col.field] | currency}} </td>
          <td *ngSwitchCase="'currencyDollar4'"> {{row[col.field] | currency:'USD':'symbol':'1.4-4'}} </td>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td colspan="5">Totals</td>
      <td>{{totalInSellingCurrency | currency:'EUR'}}</td>
      <td colspan="2"></td>
      <td>{{totalInUsd | currency }}</td>
      <td></td>
    </tr>
  </ng-template>
</p-table>