<div class="w3-top w3-bar w3-grey w3-border w3-xxlarge">
  <a routerLink="/home" class="w3-bar-item w3-button" routerLinkActive="w3-light-green"><i class="fa fa-home"></i></a>
  <a routerLink="/transactions" class="w3-bar-item w3-button" routerLinkActive="w3-light-green"><i class="fas fa-exchange-alt"></i></a>
  <a routerLink="/user" class="w3-bar-item w3-button" routerLinkActive="w3-light-green"><i class="fa fa-user"></i></a>
  <a routerLink="/settings" class="w3-bar-item w3-button" routerLinkActive="w3-light-green"><i class="fa fa-cog"></i></a>
</div>